// @media #{$mq7b} {
.entries-wrapper {
    .list-items {
        padding-bottom: 20px;
        p {
            font: 15px $roboto;
            padding: 20px;
            color: #000000;
            margin-bottom: 0;
            background-color: $font-white;
            position: relative;
            cursor: pointer;
            img {
                position: absolute;
                top: 25px;
                right: 70px;
            }
        }
        span {
            color: #00a465;
            font-weight: 600;
            display: block;
        }
    }
}

// }