// @media #{$mq7b} {
.month-wrapper {
    padding-top: 30px;
    .loading-text {
        padding: 15px;
        font: 15px $roboto;
        background-color: $font-white;
        @include border-radius(10px);
    }
    .chat-thread-left {
        background-color: $font-white;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 20px 0 20px 0;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        h1 {
            font: 15px $roboto;
            font-weight: 600;
            padding-left: 10px;
            margin-bottom: 0;
        }
        .list-wrapper {
            padding-top: 20px;
            margin-bottom: 0;
            &:last-child {
                padding-top: 0;
                li {
                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }
            li {
                background-color: $font-white;
                padding: 15px;
                border-bottom: 1px solid #cccccc;
                font: 18px $roboto;
                display: flex;
                justify-content: space-between;
                color: #00a465;
            }
        }
    }
}